<head>
<title>{{ title }}</title>

<style type="text/css">
    thead { background-color: grey; }
    tbody tr:nth-child(even) { background-color: lightgrey; }
</style>
</head>

<body>
<h1>{{ title }}</h1>

{{ table }}

</body>
